<section class="blog-partners-sidebar">
  <h3>Blog Partners</h3>
  <div>
    <a href="https://www.javacodegeeks.com" target="_blank">
      <img src="https://s3-eu-west-1.amazonaws.com/gwidgets/jcg.png">
    </a>
    <a href="http://zakariaamine.developpez.com/" target="_blank">
      <img src="https://s3-eu-west-1.amazonaws.com/gwidgets/developez.png">
    </a>
    <a href="http://www.gwtcon.org/" target="_blank">
      <img src="https://s3-eu-west-1.amazonaws.com/gwidgets/gwtCon.png">
    </a>
  </div>
</section>
